@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .control-btn:disabled svg {
    fill:gray
  }

  .control-btn:hover svg{
    fill:white
  }
  .control-btn:active svg{
    fill:white
  }

  .container-null {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
  }

  @keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
  }

  svg.delete {
    max-width: 100%;
  }

  @media only screen and (min-width: 768px) {
    svg.delete {
      height: 32px;
      width: 32px;
    }

    
  }
  
}